<div class="kasisto-box">
    <div id="kasistoMsg" class="kasisto-msg animated">
        <div class="kasisto-content">
            <p class="hidden-xs"><a href="#mdlKasistoChat" >May I help you?</a></p>
        </div>
        <span class="arrowdown"></span>
    </div>
    <a href="#mdlKasistoChat" class="btn-kasisto" id="btnKasisto" >
        <img class="img-src" src="" desktop-src="images/kasistoChat.png" mobile-src="images/mobile/m_kasistoChat.png">
    </a>
</div>

<div class="modal mdl-blur" id="mdlKasistoChat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog animated" role="document">
        <div class="modal-content">
            <div class="chat-box">
                <div class="chat-box-title">
                    <h6><a href="#" class="close" ></a> <span>VIRTUAL ASSISTANT</span></h6>
                </div>
                <div id="chatBody" class="chat-box-body">
                    <div class="chat-default">
                        <div class="chat-question-title">
                            <span class="arrowleft"></span>
                            <h4>Hi. How may I help you?</h4>
                        </div>
                        <div class="chat-body">
                            <label><strong>You can ask things like:</h4></strong></label>
                            <ul id="questionBox">
                                <li><a href="#">Who is digibank?</a></li>
                                <li><a href="#">What privileges can I enjoy as a customer of digibank?</a></li>
                                <li><a href="#">Does digibank offer competitive interest rates?</a></li>
                                <li><a href="#">Who is Digor?</a></li>
                            </ul>
                            <p class="mTop-10">NOTE: For the best experience with Virtual Assistant, please download and use our digibank app from <a href="https://play.google.com/store/apps/details?id=com.dbs.in.digitalbank&hl=en" target="_blank">Google Play</a> or <a href="https://itunes.apple.com/in/app/digibank-by-dbs/id1057836974?ls=1&amp;mt=8" target="_blank">Apple App Store</a></p>
                        </div>
                    </div>
                </div>
                <div class="chat-box-bottom">
                    <textarea  id="chatContent" placeholder="Ask your Virtual Assistant"></textarea>
                    <a href="#" id="btnChat" type="button">SEND</a>
                </div>
            </div>
        </div>
    </div>
</div>
<SCRIPT type="text/javascript">
/*<![CDATA[*/ 
document.cookie = "IV_JCT=%2Fdbswebts; path=/; secure";
/*]]>*/ 
</SCRIPT>
