<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <ul class="footer-links">
                <li><a href="rates-and-fees.html" title="Rates & Fees">Rates & Fees</a></li>
                <li><a href="media.html" title="In the News">In the News</a></li>
                <li><a href="forms-and-legal.html" title="Forms & Legal">Forms & Legal</a></li>
                <li><a href="cyber-security.html" title="Cyber Security">Cyber Security</a></li>
                <li class="omega"><a href="http://dbs.com/in" title="DBS India">DBS India</a></li>
                <li><a href="terms-and-conditions.html" title="Terms & Conditions">Terms & Conditions</a></li>
                <li><a href="rupizo-terms-and-conditions.html" title="RuPiZo  Terms & Conditions">RuPiZo Terms & Conditions</a></li>
                <li class="omega"><a href="http://www.dbs.com/in/iwov-resources/pdf/related-links/digiwali-diwali-terms-and-conditions.pdf" target="_blank" title="digiWali Diwali Terms & Conditions">digiWali Diwali &ndash; T&C</a></li>
                <li><a href="http://www.dbs.com/in/iwov-resources/pdf/related-links/digiwali-diwali-faqs.pdf" target="_blank" title="digiWali Diwali FAQs">digiWali Diwali &ndash; FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="social-footer">
                <ul>
                    <li><a href="http://www.facebook.com/dbsdigibank" title="Facebook" class="icons facebook"></a></li>
                    <li><a href="http://www.twitter.com/digibank" title="Twitter" class="icons twitter"></a></li>
                    <li class="omega"><a href="https://www.youtube.com/channel/UCj5V8jLXa88FDhHlfRRRwhw?sub_confirmation=1" title="Youtube" class="icons youtube"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="copywrite">
            <label>&#169; 2015 DBS Bank Ltd</label>    
        </div>
    </div>
</div><SCRIPT type="text/javascript">
/*<![CDATA[*/ 
document.cookie = "IV_JCT=%2Fdbswebts; path=/; secure";
/*]]>*/ 
</SCRIPT>
