<div class="mega-menu container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button id="mobMenu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#digiMenu"  >
            MENU
        </button>
        <a class="navbar-brand" href="../index.html"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="digiMenu" aria-expanded="false">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-sm hidden-md hidden-lg"><h6><a href="../index.html" class="menu-link">HOME</a></h6></li>
            <li><h6><a href="../features.html" class="menu-link">FEATURES</a></h6></li>
            <li><h6><a href="../e-wallet.html" class="menu-link">E-WALLET</a></h6></li>
            <li><h6><a href="../digisavings.html" class="menu-link">DIGISAVINGS</a></h6></li>
            <li><h6><a href="../deals.html" class="menu-link">DEALS</a></h6></li>
            <li><h6><a href="../about.html" class="menu-link">ABOUT</a></h6></li>
            <li><h6><a href="../faq.html" class="menu-link">HELP</a></h6></li>
        </ul>
    </div>
</div>
<SCRIPT type="text/javascript">
/*<![CDATA[*/ 
document.cookie = "IV_JCT=%2Fdbswebts; path=/; secure";
/*]]>*/ 
</SCRIPT>
