<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no">

		<meta name="description" content="Compare and apply online for the best credit cards in Malaysia that fits your lifestyle and gives you the best benefits. Top 10 credit cards update every day." />
		<meta name="keywords" content="imoney, financial services, malaysia, comparison, housing loans, personal loans, credit cards, car insurance online" />

		<title>Best Travel Credit Cards in Malaysia | iMoney</title>

		<link rel="stylesheet" href="../../css/base-critical.css">



			<script>
			//Start Classic Google Analytics
			//First half
		    var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-31812957-4']);
		    _gaq.push(['_trackPageview']);
			//End Classic Google Analytics

			//Start Universal Google Analytics
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		    ga('create', 'UA-31812957-1', 'auto');
		    ga('send', 'pageview');
			//End Universal Google Analytics

			var iAJSLoader = {
				scripts: [],
				stateTracker: [],
				curGroupIndex: 0,
				onCompleteCalled: false,
				onComplete: function() {console.log('iJSLoader Completed!')},
				onStateChange: function(groupIndex, group, path, callbackName) {
					this.stateTracker[groupIndex] = this.stateTracker[groupIndex] || {};
					this.stateTracker[groupIndex].total = group.length;

					var _success = false;
					return function() {
					  if (!_success && (!this.readyState || (this.readyState == 'complete'))) {
					    _success = true;
					    iAJSLoader.stateTracker[groupIndex].loaded = iAJSLoader.stateTracker[groupIndex].loaded || 0;
					    iAJSLoader.stateTracker[groupIndex].loaded++;

					    if(iAJSLoader.stateTracker[groupIndex].loaded == iAJSLoader.stateTracker[groupIndex].total) {
							iAJSLoader[callbackName]();
					    }
					  }
					};
				},
				init: function(scripts) {
					this.scripts = scripts;
				  	this.loadNextGroup();
				},
				loadNextGroup: function() {
					if (!this.scripts.length) {
						if(this.onCompleteCalled) return;

						this.onCompleteCalled = true;
						return this.onComplete();
					}

					var group = this.scripts.shift();

			  		for(var si=0; si<group.length; si++) {
			  			var path = group[si];
						var scriptElm = document.createElement('script');
			      		scriptElm.type = 'text/javascript';
			      		scriptElm.async = 'async';
			      		scriptElm.src = path;
			      		scriptElm.onload = scriptElm.onreadystatechange = this.onStateChange(this.curGroupIndex, group, path, 'loadNextGroup');

			      		var headElm = document.head || document.getElementsByTagName('script')[0];
			      		headElm.appendChild(scriptElm);
			  		}

			  		this.curGroupIndex++;
			  	}
			};

		  	iAJSLoader.onComplete = function completed() {
		  		$(function() {
		  			//Only Google Tag Manager is loaded last as it blocks all important JSs
					//Start Google Tag Manager
					(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				    })(window,document,'script','dataLayer','GTM-KTF5WP');
				    //End Google Tag Manager
		  		})
			}
		</script>

		<!--[if lte IE 9]>
		<script src="/js/plugins/respond.min.js"></script>
		<![endif]-->

<script>
    iAJSLoader.init([
        [
            "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js",
            "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        ],
        [
            "../../js/cc-best.min.js",
            "../../js/base.min.js"
        ]
    ]);
</script>


		<!-- Facebook Open Graph -->
		<meta property="fb:app_id" content="428626330554993" />
    <meta property="og:site_name" content="iMoney Malaysia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.imoney.my/credit-card/top-10-credit-cards" />
    <meta property="og:title" content="Best Travel Credit Cards in Malaysia" />
    <meta property="og:description" content="Compare and apply online for the best credit cards in Malaysia that fits your lifestyle and gives you the best benefits. Top 10 credit cards update every day." />
    <meta property="og:image" content="/img/og/cc-top-10.png" />

		<link rel="shortcut icon" href="//www.imoney.my/sites/default/files/logo_small.png" />
		<link rel="canonical" href="https://www.imoney.my/credit-card/top-10-credit-cards" />
	</head>
	<body class="cc-best-rewards">
		<!-- Start Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTF5WP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager -->

<div id="top" class="top" data-region="top-bar" data-imu-track="a">
    <div class="container">
        <a data-action="user-click-imoney-logo" href="/" class="top__logo hide-text">iMoney.my</a>
        <span class="top__slogan">Compare, Select &amp; Save</span>

        <div class="top__call">
            <span>Need Card Recommendation?</span>
            <a data-action="user-call-imoney" href="tel:60321065434">03 2106 5434</a>
        </div>

        <!-- Menu Button -->
        <a href="#mb-nav" id="btn-mainnav-toggle" class="top__menu--mb hide-text">Menu</a>
    </div>
</div>
		<nav role="navigation" class="mb-mainnav" id="mb-nav">
		  <div class="mb-mainnav-inner mb-wrapper">
		  <!-- Popular -->
		    <ul class="no-bullet mb-mainnav__popular">
			    <li><a href="/home-loan">Home Loan</a></li>
			    <li><a href="/credit-card">Credit Cards</a></li>
			    <li><a href="/personal-loan">Personal Loan</a></li>
			    <li><a href="/car-insurance">Car Insurance</a></li>
			    <li><a href="/articles">Learning Centre</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="navbar">
			<div class="container">
				<nav role="navigation" data-region="main-navigation">
					<ul class="navbar__list cf" data-imu-track="li a"
									data-subject="User"
          							data-action="Click"
          							data-description="Link"
          							data-region="Homepage Navigation" >
						<li class="nav__item nav__item--cc active" id="slide-creditcard" data-slidenum="1"><a href="/credit-card" data-vertical="Credit Card"><i></i>Credit Card</a></li>
						<li class="nav__item nav__item--hl" id="slide-homeloan" data-slidenum="2"><a href="/home-loan" data-vertical="Home Loan"><i></i>Home Loan</a></li>
						<li class="nav__item nav__item--bb" id="slide-broadband" data-slidenum="3"><a href="/broadband/search" data-vertical="Broadband"><i></i>Broadband</a></li>
						<li class="nav__item nav__item--all" id="nav-all">
							<a href="#nav" data-vertical="General"><i></i>All Products</a>
							<div id="nav" class="nav__overlay">

								<div class="nav__overlay__inner">
									<div class="nav__overlay__top">
										<h3>All Products</h3>
										<a href="#" class="nav__overlay__close"><i></i>Close</a>
									</div>
									<div class="nav__overlay__body">
										<div class="nav__overlay__col">
											<div class="nav__overlay__navset" data-vertical="Credit Card">
												<h6>Cards</h6>
												<ul>
													<li><a href="/credit-card/search/">Find The Best Credit Card</a></li>
													<li><a href="/credit-card">All Credit Cards</a></li>
													<li><a href="/debit-card">Debit Card</a></li>
													<li><a href="/credit-card-islamic">Islamic Credit Card</a></li>
												</ul>
											</div>
											<div class="nav__overlay__navset" data-vertical="Home Loan">
												<h6>Home Loans</h6>
												<ul>
													<li><a href="/home-loan">All Home Loan</a></li>
													<li><a href="/home-loan-islamic">Islamic Home Loan</a></li>
													<li><a href="/home-loan-refinance">Home Loan Refinance</a></li>
												</ul>
											</div>
											<div class="nav__overlay__navset" data-vertical="Personal Loan">
												<h6>Other Loans</h6>
												<ul>
													<li><a href="/personal-loan-islamic">Islamic Personal Loan</a></li>
													<li><a href="/personal-loan">Personal Loan</a></li>
													<li><a href="/car-loan">Car Loan</a></li>
													<li><a href="/small-business-loan">Small Business Loan</a></li>
												</ul>
											</div>
										</div>
										<div class="nav__overlay__col">
											<div class="nav__overlay__navset" >
												<h6>Savings &amp; Investments</h6>
												<ul>
													<li><a href="/fixed-deposit" data-vertical="Fixed Deposit">Fixed Deposit</a></li>
													<li><a href="/fixed-deposit-islamic" data-vertical="Fixed Deposit">Islamic Fixed Deposit</a></li>
													<li><a href="/gold-investment" data-vertical="Gold Investment">Gold Investment</a></li>
													<li><a href="/share-trading" data-vertical="Share Trading">Share Trading</a></li>
													<li><a href="/unit-trust-investments" data-vertical="Unit Trust Investment">Unit Trust Investments</a></li>
													<li><a href="/private-retirement-scheme" data-vertical="Retirement">Private Retirement Scheme (PRS)</a></li>
												</ul>
											</div>

											<div class="nav__overlay__navset">
												<h6>Insurance</h6>
												<ul>
													<li><a href="/medical-insurance/search" data-vertical="Medical Insurance">Medical Insurance</a></li>
													<li><a href="/car-insurance" data-vertical="Car Insurance">Car Insurance</a></li>
													<li><a href="/personal-accident-insurance" data-vertical="Personal Accident Insurance">Personal Accident Insurance</a></li>
													<li><a href="/travel-insurance" data-vertical="Travel Insurance">Travel Insurance</a></li>
												</ul>
											</div>
										</div>
										<div class="nav__overlay__col">
											<div class="nav__overlay__navset">
												<h6>Tools</h6>
												<ul>
													<li><a href="/mobile-plan-comparison" data-vertical="Mobile Plan">Mobile Plan Comparison</a></li>
													<li><a href="/calculators/home-loan" data-vertical="Home Loan">Home Loan Calculator</a></li>
													<li><a href="/private-retirement-scheme" data-vertical="Retirement">Retirement Calculator</a></li>
												</ul>
											</div>

											<div class="nav__overlay__navset">
												<h6>Learning Centre</h6>
												<ul>
													<li><a href="/articles/?lang=en_us">All articles</a></li>
													<li><a href="/articles/category/infographic/">Infographics</a></li>
													<li><a href="/articles/12-ways-to-save-money-in-malaysia-free-ebook-from-imoney-my/">FREE Money Saving ebook!</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav__item nav__item--lc"><a href="/articles/?lang=en_us"><i></i>Learning Centre</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="navbar--sub">
			<div class="container"  data-imu-track="a"
                                    data-subject="User"
                                    data-action="Click"
                                    data-description="Link"
                                    data-vertical= "Credit Card">
				<a href="#submenu" class="navbar--sub__toggle"><span></span>Credit Card Menu</a>
				<ul class="navbar--sub__menu">
			    <li><a href="/credit-card/" data-region="CC Sub-Navigation">All Cards</a></li>
			    <li><a href="/credit-card/search/" data-region="CC Sub-Navigation">Credit Card SmartSearch</a></li>
			    <li class="nav--cc-top10"><a href="/credit-card/top-10-credit-cards" data-region="CC Sub-Navigation">Top 10 Cards</a></li>
			    <li class="navbar--sub__sub">
			    	<a href="#" id="cc-best" class="navbar--sub__sub--dropdown" data-region="CC Sub-Navigation">Best Cards for <span style="font-size:60%; position: relative; top: -2px;">&#9660;</span></a>

			    	<ul class="navbar--sub__sub--menu">
			    		<li class="navbar--sub__shopping"><a href="/credit-card/shopping-credit-cards/"><span class="visible-xs">Best</span> Shopping <span class="visible-xs">Cards</span></a></li>
			    		<li class="navbar--sub__travel"><a href="/credit-card/travel-credit-cards/"><span class="visible-xs">Best</span> Travel <span class="visible-xs">Cards</span></a></li>
			    		<li class="navbar--sub__petrol"><a href="/credit-card/petrol-credit-cards/"><span class="visible-xs">Best</span> Petrol <span class="visible-xs">Cards</span></a></li>
			    		<li class="navbar--sub__rewards"><a href="/credit-card/rewards-credit-cards/"><span class="visible-xs">Best</span> Rewards <span class="visible-xs">Cards</span></a></li>
			    		<li class="navbar--sub__cashback"><a href="/credit-card/cashback-credit-cards/"><span class="visible-xs">Best</span> Cashback <span class="visible-xs">Cards</span></a></li>
			    		<li class="navbar--sub__dining"><a href="/credit-card/dining-credit-cards/"><span class="visible-xs">Best</span> Dining <span class="visible-xs">Cards</span></a></li>
			    	</ul>
			    </li>
		    </ul>
			</div>
		</div>


<!--
The dymanic replacement starts
-->
	<script type="text/template" id="user-filter-template">
        <% _.each(filters, function(filter) { %>
            <% if(filter == '') return; %>
            <li><%= filter %></li>
        <% }); %>
    </script>

    <script type="text/template" id="credit-card-listing-template">
	<% _.each(cards, function(card) { %>
        <li class="listing--featured">
            <div class="chart__rank">
                <h3><%= card.currRank %><span class="rank rank--up">&#9650;</span></h3>
                <p class="rank__prev">Prev: <span class="rank__prevpos"><%= card.prevRank %></span></p>
            </div>
            <div class="chart__product--image">
                <img src="<%= card.image %>" alt="<%= card.name %>">
            </div>
            <div class="chart__product--detail">
                <h4 class="product__name"><a href="#"><%= card.name %></a></h4> <span class="label label--featured">Featured</span>
                <p class="product__desc"><%= card.feature %></p>
            </div>
            <div class="chart__cta">
                <a href="<%= card.applyUrl %>" target="_blank" data-value="Apply for <%= card.name %>" class="btn btn-apply btn-lg">Apply Now</a>
            </div>
        </li>
	<% }); %>
	</script>

<!--
The dymanic replacement ends
-->
		<!-- Header -->
		<header role="banner" class="header header--page" data-speed="5">

			<div class="container">
				<h1 class="header__title">Best <strong>Rewards</strong> Credit Cards in Malaysia</h1>
				<div class="header__bestpoints">
           <span class="header__bestpoints__point">High weekend discounts</span> <span class="header__bestpoints__point">Great shopping rewards</span> <span class="header__bestpoints__point">Spend more, earn more</span>
        </div>
			</div>

		</header>
		<!-- Main Content Area -->
		<div role="main" class="main--top10">

		<!-- Top 10 cards -->
		<section id="main">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="listing listing__cc-best">
							<div class="listing__body">
                <ul class="listing__items clearfix">

                  <!-- #1 -->
                  <li class="listing--featured">
                    <div class="product__wrapper">
                      <div class="product__head">
                        <div class="card__image">
                          <img src="https://www.imoney.my/sites/default/files/maybankard-2-gold-card.png" class="img-responsive" alt="Credit Card Name">
                        </div>
                        <div class="card__name">
                          <h3><a href="#">Maybank 2 Cards</a></h3>
                        </div>
                        <span class="label label--featured">Featured</span>
                        <div class="card__reward">
                          <ul class="card__reward__list">
                            <li>5x TreatsPoints for all spend on your Maybankard 2 Amex Card</li>
                            <li>5% weekend cashback</li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__body">
                        <div class="card__features">
                          <table>
                            <tr>
                              <td class="card__features__title">Interest Rate (p.a)</td>
                              <td class="card__features__value">8.88%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Balance Transfer (p.a)</td>
                              <td class="card__features__value">0%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Annual Fee</td>
                              <td class="card__features__value">RM0</td>
                            </tr>
                          </table>
                        </div>
                        <div class="card__cta">
                          <a href="#" class="btn btn-apply btn-lg">Apply Now</a>
                        </div>
                      </div>
                    </div>

                    <div class="product__opinion">
                      <h5>iMoney's opinion</h5>
                      <p>Maybank 2 go card is a card that you should use if you shop a lot particualrly on the weekends blah blah blah.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>

                  </li>

                  <!-- #2 -->
                  <li>
                    <div class="product__wrapper">
                      <div class="product__head">
                        <div class="card__image">
                          <img src="https://www.imoney.my/sites/default/files/sc-gold-cashback-mastercard_0.png" class="img-responsive" alt="Credit Card Name">
                        </div>
                        <div class="card__name">
                          <h3><a href="#">Standard Chartered Gold CashBack Master Card</a></h3>
                        </div>
                        <div class="card__reward">
                          <ul class="card__reward__list">
                            <li>5% cashback on all retail spending for every RM1 spent</li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__body">
                        <div class="card__features">
                          <table>
                            <tr>
                              <td class="card__features__title">Interest Rate (p.a)</td>
                              <td class="card__features__value">15%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Balance Transfer (p.a)</td>
                              <td class="card__features__value">1.99%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Annual Fee</td>
                              <td class="card__features__value">RM175</td>
                            </tr>
                          </table>
                        </div>
                        <div class="card__cta">
                          <a href="#" class="btn btn-apply btn-lg">Apply Now</a>
                        </div>
                      </div>
                    </div>

                    <div class="product__opinion">
                      <h5>iMoney's opinion</h5>
                      <p>Maybank 2 go card is a card that you should use if you shop a lot particualrly on the weekends blah blah blah.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </li>

                  <!-- #3 -->
                  <li>
                    <div class="product__wrapper">
                      <div class="product__head">
                        <div class="card__image">
                          <img src="https://www.imoney.my/sites/default/files/Cimb_cash_rebate_gold.png" class="img-responsive" alt="Credit Card Name">
                        </div>
                        <div class="card__name">
                          <h3><a href="#">CIMB Bank Cash Rebate Gold MasterCard</a></h3>
                        </div>
                        <div class="card__reward">
                          <ul class="card__reward__list">
                            <li>2% cashback on all retail spent</li>
                            <li>2% off airline tickets purchased online</li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__body">
                        <div class="card__features">
                          <table>
                            <tr>
                              <td class="card__features__title">Interest Rate (p.a)</td>
                              <td class="card__features__value">15%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Balance Transfer (p.a)</td>
                              <td class="card__features__value">5.99%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Annual Fee</td>
                              <td class="card__features__value">RM0%</td>
                            </tr>
                          </table>
                        </div>
                        <div class="card__cta">
                          <a href="#" class="btn btn-apply btn-lg">Apply Now</a>
                        </div>
                      </div>
                    </div>

                    <div class="product__opinion">
                      <h5>iMoney's opinion</h5>
                      <p>Maybank 2 go card is a card that you should use if you shop a lot particualrly on the weekends blah blah blah.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </li>

                  <!-- #4 -->
                  <li>
                    <div class="product__wrapper">
                      <div class="product__head">
                        <div class="card__image">
                          <img src="https://www.imoney.my/sites/default/files/citibank-clear-credit-card_1.png" class="img-responsive" alt="Credit Card Name">
                        </div>
                        <div class="card__name">
                          <h3><a href="#">Citibank Clear Credit Card</a></h3>
                        </div>
                        <div class="card__reward">
                          <ul class="card__reward__list">
                            <li>1x Rewards points with every RM1 spent</li>
                          </ul>
                        </div>
                      </div>
                      <div class="product__body">
                        <div class="card__features">
                          <table>
                            <tr>
                              <td class="card__features__title">Interest Rate (p.a)</td>
                              <td class="card__features__value">8.88%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Balance Transfer (p.a)</td>
                              <td class="card__features__value">0%</td>
                            </tr>
                            <tr>
                              <td class="card__features__title">Annual Fee</td>
                              <td class="card__features__value">RM90</td>
                            </tr>
                          </table>
                        </div>
                        <div class="card__cta">
                          <a href="#" class="btn btn-apply btn-lg">Apply Now</a>
                        </div>
                      </div>
                    </div>

                    <div class="product__opinion">
                      <h5>iMoney's opinion</h5>
                      <p>Maybank 2 go card is a card that you should use if you shop a lot particualrly on the weekends blah blah blah.</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </li>


                </ul>
              </div>
            </div>

            <!-- Social sharing -->
						<div class="share share--bottom">
							<h5><span>Share this list with your friends</span></h5>
							<!-- Facebook Twitter Google+-->
							<ul class="share__list">
								<li>
									<a href="http://www.facebook.com/sharer/sharer.php?u=https://www.imoney.my/credit-card/top-10-credit-cards" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="share__fb">
										<svg x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink">
							            <path d="M15,4.95578947 L15,2 L12.16,2 C9.8,2 8.04,3.89473684 8.04,6.24421053 L8.04,7.87368421 L5,7.87368421 L5,10.6778947 L8.04,10.6778947 L8.04,19.0526316 L11.44,19.0526316 L11.44,10.6778947 L15,10.6778947 L15,7.87368421 L11.44,7.87368421 L11.44,5.94105263 C11.44,5.37263158 11.8,4.95578947 12.16,4.95578947 L15,4.95578947 Z" sketch:type="MSShapeGroup"></path>
										</svg>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/share?text=Check+out+the+TOP+10+credit+cards+on+iMoney.my!&via=iMoneyMY&url=https://www.imoney.my/credit-card/top-10-credit-cards" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="share__tw">
										<svg version="1.1" id="Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
										<path d="M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697
											c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621
											c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047
											c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898
											C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773
											c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088
											c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z"/>
										</svg>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/share?url=https://www.imoney.my/credit-card/top-10-credit-cards" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="share__gplus">
										<svg version="1.1" id="Google_x2B_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
											<path d="M1.989,5.589c0,1.494,0.499,2.572,1.482,3.205c0.806,0.52,1.74,0.598,2.226,0.598c0.118,0,0.213-0.006,0.279-0.01
												c0,0-0.154,1.004,0.59,1.996H6.532c-1.289,0-5.493,0.269-5.493,3.727c0,3.516,3.861,3.695,4.636,3.695
												c0.061,0,0.097-0.002,0.097-0.002c0.008,0,0.063,0.002,0.158,0.002c0.497,0,1.782-0.062,2.975-0.643
												c1.548-0.75,2.333-2.059,2.333-3.885c0-1.764-1.196-2.814-2.069-3.582c-0.533-0.469-0.994-0.873-0.994-1.266
												c0-0.4,0.337-0.701,0.762-1.082c0.689-0.615,1.339-1.492,1.339-3.15c0-1.457-0.189-2.436-1.354-3.057
												c0.121-0.062,0.551-0.107,0.763-0.137c0.631-0.086,1.554-0.184,1.554-0.699V1.2H6.64C6.594,1.202,1.989,1.372,1.989,5.589z
												 M9.413,14.602c0.088,1.406-1.115,2.443-2.922,2.574c-1.835,0.135-3.345-0.691-3.433-2.096c-0.043-0.676,0.254-1.336,0.835-1.863
												c0.589-0.533,1.398-0.863,2.278-0.928c0.104-0.006,0.207-0.012,0.31-0.012C8.18,12.278,9.33,13.276,9.413,14.602z M8.212,4.626
												c0.451,1.588-0.23,3.246-1.316,3.553C6.771,8.214,6.643,8.231,6.512,8.231c-0.994,0-1.979-1.006-2.345-2.393
												C3.963,5.062,3.98,4.38,4.214,3.726c0.229-0.645,0.643-1.078,1.163-1.225c0.125-0.035,0.254-0.053,0.385-0.053
												C6.962,2.448,7.734,2.946,8.212,4.626z M16,8V5h-2v3h-3v2h3v3h2v-3h3V8H16z"/>
											</svg>
									</a>
								</li>
							</ul>
						</div>

      <!-- CC Best Bottom Links -->
  		<div class="cc-best__links">
        <h3>Not enough? Here are more best credit cards for:</h3>
        <ul>
          <li class="cc-best__links--shopping">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Shopping</h4>
            </a>
          </li><!--
          --><li class="cc-best__links--travel">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Travel</h4>
            </a>
          </li><!--
          --><li class="cc-best__links--petrol">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Petrol</h4>
            </a>
          </li><!--
          --><li class="cc-best__links--rewards">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Rewards</h4>
            </a>
          </li><!--
          --><li class="cc-best__links--cashback">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Cashback</h4>
            </a>
          </li><!--
          --><li class="cc-best__links--dining">
            <a href="#">
              <div class="cc-best__links__thumb"></div>
              <h4 class="h5">Dining</h4>
            </a>
          </li>
        </ul>
      </div>

					</div>
          <!-- /col -->
				</div>
        <!-- /row -->
			</div>
      <!-- /container -->
		</section>

      <!-- Bottom CTA -->
  		<section id="cta-bottom" class="home__cta--bottom section--darkblue">

  			<!-- second-cta -->
  			<div class="home__cta--bottom__container" data-region="home bottom" data-imu-track="select, button, a" data-vertical="credit card">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h3 class="home__section__title">Still having trouble finding a credit card? Try <span class="color-complement">SmartSearch</span>.</h3>
  							<form id="form-cc-bottom" class="form-inline" action="/credit-card/search/" method="get">
  								<div class="form-group">
  									<select name="purpose" id="purpose-bottom" class="form-control input-lg" tabindex="-1">
  										<option value="" selected disabled>Tell us what you're looking for:</option>
  										<option value="better benefits">I want better benefits</option>
  										<option value="lower interest">I want a lower interest card</option>
  										<option value="second credit card">I need a second credit card</option>
  										<option value="looking around for deals">I'm looking for good deals</option>
  										<option value="first credit card">This is my first credit card</option>
  										<option value="balance transfer">I want a balance transfer</option>
  									</select>
  								</div><!--
  								--><div class="form-group">
  									<button type="submit" class="btn btn-complement btn-complement--gradient btn-lg btn-block" disabled="disabled">Start</button>
  								</div>
  							</form>

  							<div class="cta__bottom__options">
  								<ul>
  									<li><i class="icon-compareall"></i><a href="/credit-card">Compare all</a></li>
  									<li><i class="icon-callme"></i><a data-action="user-call-imoney" href="tel:0321065434">Call: 03 21065434</a></li>
  								</ul>
  							</div>
  						</div>
  					</div>
  				</div>

  			</div>
  		</section>

		</div>

		<!-- Footer -->
		<footer class="footer" role="contentinfo" data-region="footer" data-imu-track="a">
			<div class="container">
				<div class="row footer__top">
					<div class="col-md-2 col-sm-4 footer__top__col">
						<h5><span>Compare Credit Cards</span></h5>
						<ul class="footer__list" data-subject="User" data-action="Click" data-region="Homepage Footer" data-vertical="Credit Card"  data-description="Link">
							<li><a href="/credit-card/petrol-credit-cards/">Best Petrol Cards</a></li>
							<li><a href="/credit-card/dining-credit-cards/ ">Best Dining Cards</a></li>
							<li><a href="/credit-card/shopping-credit-cards/">Best Shopping Cards</a></li>
							<li><a href="/credit-card/rewards-credit-cards/">Best Rewards Credit Cards</a></li>
							<li><a href="/credit-card/cashback-credit-cards/">Best Cash Back Credit Cards</a></li>
							<li><a href="/credit-card/travel-credit-cards/">Best Travel Cards</a></li>

						</ul>
					</div>
					<div class="col-md-3 col-sm-5 footer__top__col">
						<h5><span>Articles you should read</span></h5>
						<ul class="footer__list" data-subject="User" data-action="Click" data-region="Homepage Footer" data-vertical="Learning Centre" data-description="Link">
							<li><a href="/articles/best-dining-credit-card">Dining Card Battle Royale! Which is the Best Dining Credit Card?</a></li>
							<li><a href="/articles/credit-card-search-the-plastic-love-affair">Credit Card Search: The Plastic Love Affair [Infographic]</a></li>
							<li><a href="/articles/the-best-credit-cards-for-entrepreneurs">The Best Credit Cards For Entrepreneurs</a></li>
							<li><a href="/articles/heres-how-to-really-find-the-perfect-credit-card">Here’s How to Really Find the Perfect Credit Card</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-3 footer__top__col">
						<h5><span>About iMoney</span></h5>
						<ul class="footer__list" data-subject="User" data-action="Click" data-region="Homepage Footer" data-vertical="General" data-description="Link">
							<li><a href="/about-us">About us</a></li>
							<li><a href="/careers">Careers</a></li>
							<li><a href="/testimonials">Testimonials</a></li>
							<li><a href="/affiliate-program">Affiliates</a></li>
							<li><a href="/frequently-asked-questions">Help Center</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-6 footer__top__col">
						<h5><span>Connect with us</span></h5>
						<ul class="footer__list footer__list--social" data-subject="User" data-action="Click" data-region="Homepage Footer" data-vertical="General" data-description="Link">
							<li class="ft-facebook"><a href="https://www.facebook.com/IMoney.my">Facebook</a></li>
							<li class="ft-twitter"><a href="https://twitter.com/iMoneyMY">Twitter</a></li>
							<li class="ft-google"><a href="https://plus.google.com/+ImoneyMy-official/posts">Google+</a></li>
							<li class="ft-instagram"><a href="http://instagram.com/imoney_malaysia">Instagram</a></li>
							<li class="ft-youtube"><a href="http://www.youtube.com/channel/UCqVreFR5Sm2bznDk58WN3tw">Youtube</a></li>
							<li class="ft-pinterest"><a href="http://www.pinterest.com/imoneymy/">Pinterest</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 footer__top__col">
						<img src="/img/imoney-malaysia-logo.png" alt="iMoney Malaysia" class="footer__imoney-logo">
						<div class="vcard">
						  <h5 class="vcard-companyname mb0">Intelligent Money Sdn. Bhd. <br><span class="font-xsm">(1005180-T)</span></h5>
						  <div class="vcard-address">
						    Unit No 50-2-1, Level 2 Wisma UOA Damansara,<br>
						    No 50 Jalan Dungun, Damansara Heights,<br>
						    50490, Kuala Lumpur.
						  </div>
						  <div class="vcard-contact">
						    <strong>Phone:</strong> +603 2106 5434<br>
						    <strong>Fax:</strong> +603 2011 3763
						  </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="footer__copyright">
							<ul class="no-bullet copyright-link">
					      <li><a href="/site-map">Sitemap</a></li>
					      <li><a href="/disclaimer">Disclaimer</a></li>
					      <li><a href="/privacy-statement">Privacy Policy</a></li>
					      <li><a href="http://www.imoney-group.com">Corporate</a></li>
					    </ul>
						  <p class="copyright">&copy; 2015 iMoney.my</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<link rel="stylesheet" href="../../css/cc-top10.css">
    <link rel="stylesheet" href="../../css/cc-best.css">


<!--[if lte IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script src="/js/cc-best.min.js"></script>
		<script src="/js/base.min.js"></script>
<![endif]-->

		<script>
			//Classic Google Analytics
			//2nd half
		    (function()
		    { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); }
		    )();
			//End Classic Google Analytics
		</script>
	</body>
</html>