
<div class="container mega-menu">
  <div class="globalLogo"><a href="index.html" data-lang="../en/index.html">digibank Indonesia</a></div><a id="mobMenu" href="#" data-target="#digiMenu" data-toggle="collapse" class="navbar-toggle collapsed"><span class="hamburger"></span>Menu</a>
  <nav role="navigation">
    <ul id="digiMenu" aria-expanded="false" class="nav collapse navbar-collapse">
      <li class="visible-xs"><a href="index.html" data-link="home" data-lang="../en/index.html" id="nav-home" class="menu-link">Home</a></li>
      <li class="navFeatures"><a href="fitur.html" data-lang="../en/features.html" id="nav-features" class="menu-link">Fitur</a></li>
      <li class="navRegistration"><a href="cara-pendaftaran.html" data-lang="../en/how-to-register.html" id="nav-registration" class="menu-link">Cara Pendaftaran</a></li>
      <li class="navAbout"><a href="tentang-dbs.html" data-lang="../en/about.html" id="nav-about" class="menu-link">Tentang DBS</a></li>
      <li class="navFaq"><a href="faq.html" data-lang="../en/faq.html" id="nav-faq" class="menu-link">FAQ</a></li>
      <li class="navLanguage"><a href="#">Bahasa<span></span></a>
        <ul class="language">
          <li><a href="#" id="lang-id" class="menu-link">Bahasa Indonesia</a></li>
          <li><a href="#" id="lang-en" class="menu-link">English</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>