
<div class="footerContent">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footerLink">
        <h5 class="footerHeader">Informasi</h5>
        <ul>
          <li><a href="biaya-dan-limit.html" data-lang="../en/rates-and-fees.html" id="nav-rates">Biaya dan Limit      </a></li>
          <li><a href="in-the-news.html" data-lang="../en/in-the-news.html" id="nav-media">Berita</a></li>
          <li><a href="syarat-dan-ketentuan.html" data-lang="../en/terms-and-conditions.html" id="nav-terms">Syarat dan Ketentuan</a></li>
        </ul>
        <ul>
          <li><a href="kebijakan-privasi.html" data-lang="../en/privacy-policy.html" id="nav-privacy">Kebijakan Privasi</a></li>
          <li><a href="cyber-security.html" data-lang="../en/cyber-security.html" id="nav-security">Cyber Security</a></li>
          <li><a href="fair-dealing-commitment.html" data-lang="../en/fair-dealing-commitment.html" id="nav-fair-dealing">Fair Dealing Commitment</a></li>
        </ul>
      </div>
      <div class="col-sm-4 footerDownload">
        <h5 class="footerHeader">Download sekarang</h5>
        <ul class="download download--footer">
          <li><a href="https://itunes.apple.com/id/app/digibank-by-dbs/id1170988769" target="_blank" class="downloadBadge apple"><span>Donlod di the App Store</span></a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.dbs.id.pt.digitalbank" target="_blank" class="downloadBadge android"><span>Dapatkan di Google Play</span></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="footerHeader">Hubungi Spesialis kami</h5>
        <ul class="footerContact">
          <li class="contactPhone">Lokal: <a href="tel:1500 327">1500 327</a><br> Dari luar negeri: <a href="tel:+622129852800">+62 21298 52800</a></li>
          <li class="contactForm">Atau kami akan <a href="https://www.dbs.com/id/treasures-id/dbs-forms/digibank.page" target="_blank">menghubungi Anda</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footerBottom">
  <div class="container">
    <div class="footerCopyright">
      <p>Copyright &copy; 2016 DBS Bank Ltd. All rights reserved.</p>
    </div>
  </div>
</div>