
<div class="footerContent">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footerLink">
        <h5 class="footerHeader">Information</h5>
        <ul>
          <li><a href="rates-and-fees.html" data-lang="../id/biaya-dan-limit.html" id="nav-rates">Rates &amp; Fees       </a></li>
          <li><a href="in-the-news.html" data-lang="../id/in-the-news.html" id="nav-media">In The News</a></li>
          <li><a href="terms-and-conditions.html" data-lang="../id/syarat-dan-ketentuan.html" id="nav-terms">Terms &amp; Conditions</a></li>
        </ul>
        <ul>
          <li><a href="privacy-policy.html" data-lang="../id/kebijakan-privasi.html" id="nav-privacy">Privacy Policy</a></li>
          <li><a href="cyber-security.html" data-lang="../id/cyber-security.html" id="nav-security">Cyber Security</a></li>
          <li><a href="fair-dealing-commitment.html" data-lang="../id/fair-dealing-commitment.html" id="nav-fair-dealing">Fair Dealing Commitment</a></li>
        </ul>
      </div>
      <div class="col-sm-4 footerDownload">
        <h5 class="footerHeader">Download now</h5>
        <ul class="download download--footer">
          <li><a href="https://itunes.apple.com/id/app/digibank-by-dbs/id1170988769" target="_blank" class="downloadBadge apple"><span>Download on the App Store</span></a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.dbs.id.pt.digitalbank" target="_blank" class="downloadBadge android"><span>Get it on Google Play</span></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="footerHeader">Talk to a DBS Expert</h5>
        <ul class="footerContact">
          <li class="contactPhone">Local: <a href="tel:1500 327">1500 327</a><br> Overseas: <a href="tel:+622129852800">+62 21298 52800</a></li>
          <li class="contactForm">Or have <a href="https://www.dbs.com/id/treasures/dbs-forms/digibank.page" target="_blank">someone contact you</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footerBottom">
  <div class="container">
    <div class="footerCopyright">
      <p>Copyright &copy; 2016 DBS Bank Ltd. All rights reserved.</p>
    </div>
  </div>
</div>