
<div class="container mega-menu">
  <div class="globalLogo"><a href="index.html" data-lang="../id/index.html">digibank Indonesia</a></div><a id="mobMenu" href="#" data-target="#digiMenu" data-toggle="collapse" class="navbar-toggle collapsed"><span class="hamburger"></span>Menu</a>
  <nav role="navigation">
    <ul id="digiMenu" aria-expanded="false" class="nav collapse navbar-collapse">
      <li class="visible-xs"><a href="index.html" data-link="home" data-lang="../id/index.html" id="nav-home" class="menu-link">Home</a></li>
      <li class="navFeatures"><a href="features.html" data-lang="../id/fitur.html" id="nav-features" class="menu-link">Features</a></li>
      <li class="navRegistration"><a href="how-to-register.html" data-lang="../id/cara-pendaftaran.html" id="nav-registration" class="menu-link">How To Register</a></li>
      <li class="navAbout"><a href="about.html" data-lang="../id/tentang-dbs.html" id="nav-about" class="menu-link">About</a></li>
      <li class="navFaq"><a href="faq.html" data-lang="../id/faq.html" id="nav-faq" class="menu-link">FAQ</a></li>
      <li class="navLanguage"><a href="#">English<span></span></a>
        <ul class="language">
          <li><a href="#" id="lang-en" class="menu-link">English</a></li>
          <li><a href="#" id="lang-id" class="menu-link">Bahasa Indonesia</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>